
// preset form values if we receive a userdata object //
- user = typeof(udata) != 'undefined' ? udata : { }
// store the userId on the client side in a hidden input field //
input(type='hidden', value= user._id)#userId

#account-form-container
	form( method="post")#account-form.form-horizontal.well.span6
		h1
		p#sub1.subheading Please fill in the nursing home details and we'll be in touch.
		hr
		fieldset
			#name-cg.control-group
				label.control-label(for='name-tf') Name
				.controls
					input#name-tf.input-xlarge(type='text', name='Nursing Home Name', value= user.name)
			#email-cg.control-group
				label.control-label(for='email-tf') Email
				.controls
					input#email-tf.input-xlarge(type='text', name='Email', value= user.email)
			#address-cg.control-group
				label.control-label(for='address-tf') Address
				.controls
					input#address-tf.input-xlarge(type='text', name='Address', value= user.address)
			#slist-cg.control-group
				label.control-label(for='state-list') Location
				.controls
					select#state-list(name='state')
						each item in states
							option(selected=item.name == user.state)= item.name
			#zipcode-cg.control-group
				label.control-label(for='zipcode-tf') Zipcode
				.controls
					input#zipcode-tf.input-xlarge(type='number', name='Zipcode', value= user.zipcode)
			#phone-cg.control-group
				label.control-label(for='phone-tf') Phone
				.controls
					input#phone-tf.input-xlarge(type='number', name='Phone', value= user.phone)
			hr
			p#sub2.subheading
			#user-cg.control-group
				label.control-label(for='user-tf') Username
				.controls
					input#user-tf.input-xlarge.disabled(type='text', name='user', value= user.user)
			#pass-cg.control-group
				label.control-label(for='pass-tf') Password
				.controls
					input#pass-tf.input-xlarge(type='password', name='pass', value='')
			.form-actions
				button(type='button')#account-form-btn1.btn
				button(type='submit')#account-form-btn2.btn

// display form errors in a custom modal window //

include modals/form-errors
