extends homehead

block content
	include homebodyheader
	include homebodymiddle
		
	#footer-container
		#footer-container-primary.well-dn.span12
			h3 eVisit Details
			#left-side.well.span4		
				hr
				label Appointment Date 										
				input#appointmentdate-tf(type="text", name="appointmentdate", id='appointmentdate-tf').span4.required
				label Appointment Time
				input#appointmenttime-tf(type="text", name="appointmenttime", id='appointmenttime-tf').span4.required
				Label Patient Names
				input#patient1name-tf(type="text", name="patient1name", id='patient1name-tf').span4.required
				input#patient2name-tf(type="text", name="patient2name", id='patient2name-tf').span4.required
				input#patient3name-tf(type="text", name="patient3name", id='patient3name-tf').span4.required
				input#patient4name-tf(type="text", name="patient4name", id='patient4name-tf').span4.required


			#right-side.well.span4
				hr
				label Doctor Name 										
				input#doctorname-tf(type="text", name="doctorname", id='doctorname-tf').span4.required
				label Doctor Photo
				input#doctorphoto-tf(type="text", name="doctorphoto", id='doctorphoto-tf').span4.required

					

		include modals/alert
		include modals/confirm


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/booking.js')
	script(src='/js/controllers/bookingController.js')