#corporate-banner.element.js-header
.container.container-1.clearfix
  p#time.text.text-1.js-logintime Login Time
  p#account.text.text-2.js-loginaccount Login Account
  button#home._button._button-1.js-home-button(type='button') Home
  button#logout._button._button-2.js-logout-button(type='button') Logout
.container.container-2.clearfix
  button#schedulevisit._button._button-3.js-schedulevisit
    p Schedule
    p eVisit
  button#schedulevisit._button._button-4.js-schedulevisit
    p Begin
    p eVisit
  button#schedulevisit._button._button-5.js-schedulevisit
    p View
    p Scheduled
    p eVisits

