#account-dashboard-container


	#button-panel
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container-fluid
						button#btn-home.btn.btn-primary
								| Home
						button#btn-logout.btn.btn-primary
								| Logout

	#account-dashboard
		button#btn-schedule-evisit.btn.btn-primary
					| Schedule eVisit
		button#btn-begin-evisit.btn.btn-primary
					| Begin eVisit
		button#btn-view-scheduled-evisits.btn.btn-primary
					| View eVisits
