#account-dashboard-container
	
	button#btn-logout.btn.btn-primary
					i.icon-lock.icon-white
					| Sign Out

	#account-dashboard.well.span6
		button#btn-schedule-evisit.btn.btn-primary.btn-lg
					i.icon-lock.icon-white
					| Schedule eVisit
		button#btn-begin-evisit.btn.btn-primary.btn-lg
					i.icon-lock.icon-white
					| Begin eVisit
		button#btn-view-scheduled-evisits.btn.btn-primary.btn-lg
					i.icon-lock.icon-white
					| View eVisits
