extends homehead

block content
	include homebodyheader
	include homebodymiddle
	#left-container(style="align: center; margin-left:182px; margin-right: 5px").well-dn.span4
		#left-side-holder
			#patientdetailselector
							input(type='button', value='List', style= "width: 22.5%; background-color: black; color: white")#listselector
							input(type='button', value='General', style= "width: 22.5%; background-color: white; color: black")#generalselector
							input(type='button', value='History', style= "width: 22.5%; background-color: white; color: black")#historyselector
							input(type='button', value='Notes', style= "width: 22.5%; background-color: white; color: black")#notesselector
			#pdfviewercontainer(style = " width: 87%; height: 160px; overflow-y: scroll").well-dn
							#pdfviewerpatientlist
							#pdfviewerpatientgeneral
							#pdfviewerpatienthistory
							#pdfviewerpatientnotes      

	video#localVideo(autoplay="", muted="").well-dn.wellspecial2
	video#remoteVideo(autoplay="").well-dn.wellspecial2

block scripts	
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src="/js/views/evisitsession.js")
	script(src="/js/controllers/evisitSessionController.js")
	script(src="/js/lib/adapter.js")
	script(src="/js/lib/socket.io.js")
	script(src="/js/lib/mainvideochat.js")


