extends homehead

block content
	include homebodyheader
	include homebodymiddle
		
	#footer-container
		##footer-holder(style = "text-align: center").well-dn.span12
			#left-side(style = "text-align: center").well-dn.span
				#evisitlist
					h3(align="center") Appointment List
					hr
					table.listcontainerheader(style = " width: 100%")
						tr.tableheader
							th(style = " width: 90px") Date
							th(style = " width: 90px") Time
							th(style = " width: 90px") Nursing Home 
							th(style = " width: 90px")
						table#listcontainer(style = " width: 100%; height: 200px; overflow-y: auto")
							if (listevisits.length === 0)
								tr#noevisits
									th No eVisits.
							each evisititem, index in listevisits
								tr.evisitrecord(style = "height: 90px")
									td.evisitrecorddate(style = "width: 90px")
										span.name(style=" display: block; text-align: center")=evisititem.appointmentdate
									td.evisitrecordtime(style = "width: 90px")
										span.name(style=" display: block; text-align: center")=evisititem.appointmentstarttime + ':' + evisititem.appointmentendtime
									td.evisitrecordnh(style = "width: 90px")
										span.name(style=" display: block; text-align: center")=evisititem.user
									td.evisitrecordactionfetch(style = "width: 90px")
										input(type='submit', value='fetch', evisitid=evisititem._id.toString())
				
			#right-side(style = "text-align: center; float: right").well-dn.span4
				#evisitpatientsublist
					h3(align="center") Patient List
					table.patientlistcontainerheader(style = " width: 100%")
						tr.tableheader
							th(style = " width: 75px") Name
							th(style = " width: 75px") DOB
							th(style = " width: 75px") 
							th(style = " width: 75px")
					table#patientlistcontainer(style = " width: 100%; height: 200px; overflow-y: auto")
				

		include modals/alert
		include modals/confirm


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/views/evisitreview.js')
	script(src='/js/controllers/eVisitReviewController.js')
	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
	// The jQuery UI widget factory, can be omitted if jQuery UI is already included
	script(src="/js/uploader/jquery.ui.widget.js")
	// The Templates plugin is included to render the upload/download listings
	script(src="/js/uploader/tmpl.min.js")
	// The Load Image plugin is included for the preview images and image resizing functionality
	script(src="/js/uploader/load-image.min.js")
	// The Canvas to Blob plugin is included for image resizing functionality
	script(src="/js/uploader/canvas-to-blob.min.js")
	// Bootstrap JS is not required, but included for the responsive demo navigation
	script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
	// blueimp Gallery script
	script(src="/js/uploader/jquery.blueimp-gallery.min.js")
	// The Iframe Transport is required for browsers without support for XHR file uploads
	script(src="/js/uploader/jquery.iframe-transport.js")
	// The basic File Upload plugin
	script(src="/js/uploader/jquery.fileupload.js")
	// The File Upload processing plugin
	script(src="/js/uploader/jquery.fileupload-process.js")
	// The File Upload image preview & resize plugin
	script(src="/js/uploader/jquery.fileupload-image.js")
	// The File Upload audio preview plugin
	script(src="/js/uploader/jquery.fileupload-audio.js")
	// The File Upload video preview plugin
	script(src="/js/uploader/jquery.fileupload-video.js")
	// The File Upload validation plugin
	script(src="/js/uploader/jquery.fileupload-validate.js")
	// The File Upload user interface plugin
	script(src="/js/uploader/jquery.fileupload-ui.js")
	// The main application script
	script(src="/js/uploader/main.js")
	// The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9
	//if (gte IE 8)&(lt IE 10)
	script(src="/js/uploader/cors/jquery.xdr-transport.js")
