extends homehead

block content
	include homebodyheader
	include homebodymiddle
	#left-container(style="margin-left: 175px")
		#left-side-holder
			#patient-details-container(style="align: center; margin-right: 5px").well-dn.span4
				input(type='submit', value='Patient List', style= "margin-left: 20px; background-color: black; color: white")
				input(type='submit', value='Patient Data', style= "background-color: white; color: black")
				input(type='submit', value='Patient History', style= "background-color: white; color: black")      

	video#localVideo(autoplay="", muted="").well-dn.wellspecial2
	video#remoteVideo(autoplay="").well-dn.wellspecial2

	#footer-container
		#button-holder.well-dn.span4(style="text-align: center; margin-left: 345px")
			button#startButton Start
			button#callButton Call
			button#hangupButton End
block scripts	
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src="/js/views/evisitsession.js")
	script(src="/js/controllers/evisitSessionController.js")
	script(src="/js/lib/adapter.js")
	script(src="/socket.io/socket.io.js")
	script(src="/js/lib/main.js")


