!!! 5
html
	head
		title
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1890531-10']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	
	body

	block content


		h4 eVisit Session
		video#localVideo(autoplay="", muted="")
		#left-side-container-buttons
			button(type="button")#startButton.btn
				| Start
			button(type="button")#callButton.btn
				| Call
			button(type="button")#hangupButton.btn
				| Hang Up
				
		video#remoteVideo(autoplay="", muted="")
					

		include modals/alert
		include modals/confirm


block scripts
	script(src='/vendor/jquery.min.js')
	script(src='/vendor/jquery.form.js')
	script(src='/vendor/bootstrap-modal.js')
	script(src='/vendor/bootstrap-transition.js')
	script(src='/js/lib/adapter.js')
	script(src='/js/views/evisitsession.js')
	script(src='/js/controllers/evisitSessionController.js')