extends homehead

block content
	include homebodyheader
	include homebodymiddle
		
	#footer-container
		#footer-user.well-dn.span12.user-footer(style="text-align:center")
			button(type="button")#btn-view-evisits.btn.user-option-button.admin-view
				p View
				p Scheduled
				p eVisits

	include modals/alert
	include modals/confirm