extends homehead

block content
	include homebodyheader
	include homebodymiddle
		
	#footer-container
		#footer-user.well-dn.span12.user-footer
			button(type="button")#btn-set-availability.btn.user-option-button
				p Set
				p Availability
			button(type="button")#btn-begin-evisit.btn.user-option-button
				p Begin
				p eVisit
			button(type="button")#btn-view-evisits.btn.user-option-button
				p View
				p Scheduled
				p eVisits

	include modals/alert
	include modals/confirm