body {
  background-color: rgb(255, 255, 255);
  font: 700 2.25em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  float: left;
  clear: both;
}

.element {
  float: left;
  width: 92.7083333333%;
  height: 93px;
  margin-left: 3.22917%;
  background-color: rgb(222, 222, 222);
}

.text {
  float: left;
  width: 13.6666666666%;
  min-height: 29px;
  margin-top: 8px;
  font-size: 0.444em;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  float: left;
  background-color: rgb(222, 222, 222);
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.container-1 {
  width: 92.7083333333%;
  height: 41px;
  margin: 10px 0 0 3.2291666666%;
}

.container-2 {
  width: 92.6041666666%;
  height: 342px;
  margin: 68px 0 0 3.33171%;
}

.text-1 {
  margin-left: 0.07725%;
}

.text-2 {
  margin-left: 29.19066%;
  text-align: center;
}

.container ._button-1 {
  width: 9.5555555555%;
  height: 29px;
  margin: 5px 0 0 21.76791%;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.444em;
}

.container ._button-2 {
  width: 9.5555555555%;
  height: 29px;
  margin: 5px 0 0 1.31847%;
  border-radius: 10px;
  font-size: 0.444em;
}

.container ._button-3 {
  width: 28.1303843313%;
  height: 281px;
  margin: 30px 0 0 3.91067%;
  border-radius: 20px;
  font-size: 1em;
}

.container ._button-4 {
  width: 28.1303843313%;
  height: 281px;
  margin: 30px 0 0 4.57956%;
  border-radius: 20px;
  font-size: 1em;
}

.container ._button-5 {
  width: 28.1303843313%;
  height: 281px;
  margin: 30px 0 0 4.59018%;
  border-radius: 20px;
  font-size: 1em;
}